<Project>
	<PropertyGroup>
		<DvInstallDir>D:\Programs\Derail Valley</DvInstallDir>
		<ReferencePath>
			$(DvInstallDir)\DerailValley_Data\Managed\;
		</ReferencePath>
		<AssemblySearchPaths>$(AssemblySearchPaths);$(ReferencePath);</AssemblySearchPaths>
	</PropertyGroup>
	<Target Name="PostBuild" AfterTargets="PostBuildEvent">
		<!-- Copy to build folder -->
		<Copy SourceFiles="$(TargetPath)" DestinationFolder="../build/" />
	</Target>
</Project>